.marck-script-regular {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .bruno-ace sc-regular {
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  body {
    background-color: #2b2e32;
  }
.banner{
    height: 100vh;
    width: 100%;
    background-image: url("https://media.giphy.com/media/8rslAfRpMChOM/giphy.gif");
    background-size: cover;
    background-position: center;
    box-shadow: wheat 0px 2px 20px;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 60px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: rgb(242, 227, 14);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.heading{
   
    margin-top: 650px;
    margin-left: 500px;
    
}
.imglogo {
    height: 230px;
    width: 218px;
    margin-left: 100px;
    border-radius: 1cap;
}
.imglogo img {
    margin-top: 70px;
    border-radius: 1cap;
    box-shadow: rgb(111, 115, 239) 2px 2px 5px;
}
.content2{
    width: 600px;
    height: 280px;
    padding: 20px;
    margin-top: -200px;
    margin-left: 400px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: larger;
    font-weight: 400;
    border: 2px solid #0967e3;
    border-radius: 2cap;
    box-shadow: #edeff2 2px 2px 10px;

    /* background-color: #35374B; */
}


.content2 > p1 {
    color: #fafefa;
    text-wrap: wrap;
    letter-spacing: 1px;
    line-height: 1.5;

} 
.hbanner1{
    margin-top:50px;
    margin-left: 120px;
    padding: 10px;
}

.head1{
    font-family: "Marck Script", cursive;
    font-size: larger;
    font-weight: 400;
    background-color:#6171e9;  
    border: 2px#03a393;
    height: 50px;
    width: 250px;
    text-align: center;
    border-radius: 2cap;
    margin-left: 650px;
}
.head1 h1{
    color: rgba(238, 77, 77, 0.96);
}
.place {
    height: 600px;
    width: 1300px;
    display: flex;
    border: 2px solid burlywood;
    box-shadow: wheat 2px 2px 10px;
    margin: 70px;
    margin-left: 90px;
    padding: 10px;
    flex-wrap: wrap;
    border-radius: 2cap;
}
.items {
    border-radius: 2cap;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgb(97, 212, 250);
    height: 200px;
    width: 350px;
    background-color: rgb(170, 156, 156);
    margin: auto;
    font-family: "Bruno Ace SC", sans-serif;
    text-align: center;
    position: relative;
    overflow: hidden; 
}
.items:hover {
    transform: scale(1.1);
    transition: 1.0s;

}
.items img {
    max-width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.items p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
}
.items::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 1;
}
.vid {
    
    border: #0672ff;
    margin-top: 40px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 535px;
    width: 950px;
      
}
.vid video{
    height: 100%;
    width: 100%;
    border: 2px solid wheat;
    border-radius: 10px;
    box-shadow: 1px  1px 10px wheat;

}
.hbanner2{
    width: 1100px;
    margin: 70px;
    padding: 20px;
    margin-left: 0px;
    padding-left: 0px;
}
.hbanner2 img{
    width: 1150px;
    margin-left:170px;
    padding: 0px;
    border-radius: 1cap;
    box-shadow: wheat 2px 2px 10px; 

}
#btnbook{
    margin-top: 40px;
    margin-left: 1200px;
    background-color: red;
    box-shadow: wheat 2px 2px 5px;
}
#btnbook:hover{
    margin-top: 40px;
    background-color: red;
    box-shadow: wheat 2px 2px 15px;
}
#bth{
    text-decoration:none;
    color: yellow;
    background-color:#009688;
    box-shadow: wheat 2px 2px 15px;
    margin-left: 650px;
}
#bth:hover{
    text-decoration:none;
    color: yellow;
    background-color:#009688;
    box-shadow: wheat 2px 2px 5px;
    
}